{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Erreur interne du serveur</title>
    </head>
    <body>
        <div class="main-modal" id="anotherElement">
            <div class="head1" id="anotherElement">
                <h1>Erreur interne du serveur</h1>
            </div>
            <div id="init" class="sub-modal open">
                <div class="sub-modal-content ">
                    <h2>Désolé, une erreur interne du serveur s'est produite.</h2>
                    <div class="failure-gif">
                        <img src="https://media1.tenor.com/m/GM2NnQyP96cAAAAC/the-office-crying.gif"
                             alt="GIF de l'erreur">
                    </div>
                    <button id="return">Revenir en arrière</button>
                </div>
            </div>
        </div>
    {% endblock content %}
